button{
	height: 60px;
	width: 130px;
	border-radius: 30px;
	border: none;
	ouline: none;
	background: blue;
	color: white;
	font-size: 1px;
	letter-spacing: 1px;
	text-transform: uppercase;
	cursor: pointer;

}
