button{
	height: 60px;
	width: 200px;
	border-radius: 50px;
	border: none;
	ouline: none;
	background: blue;
	color: black;
	font-size: 20px;
	letter-spacing: 2px;
	text-transform: uppercase;
	cursor: pointer;

}

