button{
	height: 20px;
	width: 50px;
	border-radius: 50px;
	border: none;
	ouline: none;
	background: blue;
	color: black;
	font-size: 3px;
	letter-spacing: 1px;
	text-transform: uppercase;
	cursor: pointer;

}




